<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
    </head>

    <body>
        不正なリクエストを確認しました．ログインしていることを確認してください．<br>
        <a href="/login">Back to login screen.</a>
    </body>
</html>