
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
    </head>

    <body>

        Login failed.<br>

        <a href="/login">Back to login screen.</a>
    </body>
</html>
