
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
    </head>

    <body>

        Register failed.<br>

        <a href="/registration">Back to register screen.</a>
    </body>
</html>
