<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
    </head>

    <body>

        Enter your username and password.<br>
        <form action="/request" method="post">
            Username:<input type="text" name="name" size="40" maxlength="20"><br>
            Password:<input type="password" name="pass" size="40" maxlength="30"><br>
        <br>
        <input type="submit" value="Register">
        <input type="reset" value="Reset">

        <a href="/login">ログインはこちら</a>
    </form>
    </body>
</html>
