<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ほんろぐ</title>
    </head>

    <body>

        Register success.<br>

        <a href="/login">Go to login screen.</a>
    </body>
</html>
