button{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    background-color: #224488;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;

}
label, input{
    cursor: pointer;
}

table{
    border-collapse: collapse;
}

th{
    color: #224488;
    background: #b3ccff;
}

center{
    margin-bottom: 15px;
    border: 3px solid;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}